<a href="https://colab.research.google.com/github/marcelostaub/google_colab_testes/blob/main/agrupamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/content/cursos-prouni.csv")
df

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,AC,Acrelandia,Universidade Paulista - UNIP,ACRELANDIA - Centro,Administração,Bacharelado,Curso a Distância,289.00,1.0,1.0,NaN,NaN,572.74,548.00,NaN,NaN
1,AC,Cruzeiro do Sul,Centro Universitário Internacional - Uninter -...,PAP CRUZEIRO DO SUL - Centro,Administração,Bacharelado,Curso a Distância,298.00,1.0,NaN,NaN,NaN,646.14,NaN,NaN,NaN
2,AC,Cruzeiro do Sul,Faculdade Educacional da Lapa - FAEL,AC - CRUZEIRO DO SUL - POLO EAD - CENTRO,Administração,Bacharelado,Curso a Distância,325.00,NaN,NaN,1.0,NaN,NaN,NaN,577.62,NaN
3,AC,Cruzeiro do Sul,Universidade Paulista - UNIP,CRUZEIRO DO SUL - Centro,Administração,Bacharelado,Curso a Distância,319.00,1.0,NaN,NaN,NaN,616.68,NaN,NaN,NaN
4,AC,Rio Branco,Centro Universitário Internacional - Uninter -...,PAP RIO BRANCO - Bosque,Administração,Bacharelado,Curso a Distância,298.00,NaN,NaN,1.0,NaN,NaN,NaN,569.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41442,PA,Redencao,Faculdade de Ensino Superior da Amazônia Reuni...,POLO NA SEDE - ALTO PARANÁ,Zootecnia,Bacharelado,Noturno,932.83,3.0,1.0,NaN,NaN,634.46,578.50,NaN,NaN
41443,RO,Porto Velho,Faculdades Integradas Aparício Carvalho - FIMCA,UNIDADE - PORTO VELHO - JARDIM ELDORADO - Jar...,Zootecnia,Bacharelado,Noturno,1247.73,7.0,4.0,8.0,5.0,565.70,553.58,519.52,494.76
41444,SC,Xanxere,Universidade do Oeste de Santa Catarina - UNOESC,CAMPUS DE XANXERÊ - Jardim Tarumã,Zootecnia,Bacharelado,Noturno,1298.00,0.0,2.0,NaN,2.0,590.42,NaN,537.46,NaN
41445,SP,Barretos,Centro Universitário da Fundação Educacional d...,CAMPUS - BARRETOS - AEROPORTO/MARIETA - Aerop...,Zootecnia,Bacharelado,Integral,1222.66,2.0,3.0,NaN,20.0,604.00,587.50,517.40,NaN
41446,SP,Presidente Prudente,Universidade do Oeste Paulista - UNOESTE,CAMPUS II - LIMOEIRO,Zootecnia,Bacharelado,Noturno,1340.00,0.0,8.0,NaN,NaN,597.58,NaN,NaN,NaN

"""pandas.crosstab(index, columns, values=None, rownames=None, colnames=None, \
                aggfunc=None, margins=False, margins_name: str = 'All', \
                dropna: bool = True, normalize=False)

1.  index: Valores para agrupar nas linhas
2.  columns: Valores para agrupar nas colunas
3.  values: Dados a serem agregados
4.  aggfunc: Função utilizada para agregar
5.  margins: Retorna o subtotal das linhas e colunas
6.  normalize: Divide os valores pela total
"""

In [4]:
#Criando pd.crosstab com tipo de curso por estado.
pd.crosstab(df.uf_busca,df.nome)

nome,Administração,Administração Pública,Administração de Empresas,Administração de Recursos Humanos,Agroindústria,Agronegócio,Agronomia,Agropecuária,Alimentos,Análise e Desenvolvimento de Sistemas,...,Teologia,Terapia Ocupacional,Tradutor e Intérprete,Turismo,Turismo Receptivo,Turismo e Hotelaria,Visagismo e Terapias Capilares,Viticultura e Enologia,Zootecnia,Óptica e Optometria
uf_busca,,,,,,,,,,,,,,,,,,,,,
AC,12,0,0,0,0,0,0,0,0,7,...,2,0,0,0,0,0,0,0,0,0
AL,19,0,0,0,0,1,0,0,0,9,...,4,0,0,2,0,0,0,0,0,0
AM,24,1,0,0,0,1,0,0,0,10,...,4,0,0,0,0,0,0,0,0,0
AP,12,0,0,0,0,1,0,0,0,6,...,3,0,0,3,0,0,0,0,0,0
BA,194,4,0,0,0,7,2,0,2,47,...,31,0,0,8,0,0,0,2,0,0
CE,74,0,0,0,0,0,0,0,0,21,...,6,0,0,4,0,0,0,0,0,0
DF,64,0,0,0,0,0,3,0,0,38,...,14,0,0,2,0,0,0,0,0,0
ES,69,0,0,0,0,5,0,0,0,14,...,8,0,0,2,1,0,0,0,0,0
GO,99,0,0,0,0,10,8,0,0,31,...,14,0,0,2,0,0,0,0,1,0
MA,49,1,0,0,0,2,0,0,0,16,...,8,0,0,3,0,0,0,0,1,0
MG,294,0,1,0,0,21,14,0,0,78,...,57,0,0,7,2,0,0,0,2,0
MS,71,0,0,0,0,21,5,0,0,15,...,15,0,0,2,1,0,0,0,1,0
MT,70,0,0,0,0,17,7,0,0,35,...,17,0,0,2,1,0,0,0,1,0
PA,81,1,0,0,0,0,1,0,0,39,...,18,1,0,2,0,0,0,0,1,0
PB,39,0,0,0,0,0,2,0,0,11,...,4,0,0,2,0,0,0,0,0,0
PE,92,1,0,0,0,0,0,0,0,27,...,10,0,0,6,0,0,0,0,0,0
PI,34,0,0,0,0,0,0,0,0,9,...,2,2,0,2,0,0,0,0,0,0
PR,255,1,0,0,1,11,31,0,0,89,...,88,1,0,6,0,0,0,0,0,0
RJ,110,0,0,0,0,2,0,0,0,33,...,28,0,0,3,0,0,0,0,0,0
RN,34,0,0,0,0,0,0,0,0,5,...,3,0,0,0,0,0,0,0,0,0
RO,33,0,0,0,0,1,3,0,0,10,...,5,1,0,0,0,0,0,0,1,0
RR,6,0,0,0,0,0,0,0,0,4,...,3,0,0,0,0,0,0,0,0,0
RS,230,2,0,0,0,11,16,1,0,84,...,53,1,0,3,0,0,0,0,0,0
SC,118,3,0,0,0,9,8,0,1,56,...,38,0,0,2,1,1,0,0,1,0
SE,27,0,0,0,0,0,0,0,0,7,...,1,0,0,2,0,0,0,0,0,0
SP,616,7,0,7,0,20,14,0,1,295,...,133,6,6,28,0,0,2,0,2,2
TO,28,0,0,0,0,3,4,0,0,12,...,4,0,0,2,0,0,0,0,0,0

In [6]:
#Criando pd.crosstab com a cursos por UF com subtotal por linha e coluna
pd.crosstab(df.uf_busca,df.nome, margins=True)

nome,Administração,Administração Pública,Administração de Empresas,Administração de Recursos Humanos,Agroindústria,Agronegócio,Agronomia,Agropecuária,Alimentos,Análise e Desenvolvimento de Sistemas,...,Terapia Ocupacional,Tradutor e Intérprete,Turismo,Turismo Receptivo,Turismo e Hotelaria,Visagismo e Terapias Capilares,Viticultura e Enologia,Zootecnia,Óptica e Optometria,All
uf_busca,,,,,,,,,,,,,,,,,,,,,
AC,12,0,0,0,0,0,0,0,0,7,...,0,0,0,0,0,0,0,0,0,203
AL,19,0,0,0,0,1,0,0,0,9,...,0,0,2,0,0,0,0,0,0,327
AM,24,1,0,0,0,1,0,0,0,10,...,0,0,0,0,0,0,0,0,0,429
AP,12,0,0,0,0,1,0,0,0,6,...,0,0,3,0,0,0,0,0,0,219
BA,194,4,0,0,0,7,2,0,2,47,...,0,0,8,0,0,0,2,0,0,2505
CE,74,0,0,0,0,0,0,0,0,21,...,0,0,4,0,0,0,0,0,0,816
DF,64,0,0,0,0,0,3,0,0,38,...,0,0,2,0,0,0,0,0,0,1063
ES,69,0,0,0,0,5,0,0,0,14,...,0,0,2,1,0,0,0,0,0,825
GO,99,0,0,0,0,10,8,0,0,31,...,0,0,2,0,0,0,0,1,0,1278
MA,49,1,0,0,0,2,0,0,0,16,...,0,0,3,0,0,0,0,1,0,679
MG,294,0,1,0,0,21,14,0,0,78,...,0,0,7,2,0,0,0,2,0,4175
MS,71,0,0,0,0,21,5,0,0,15,...,0,0,2,1,0,0,0,1,0,785
MT,70,0,0,0,0,17,7,0,0,35,...,0,0,2,1,0,0,0,1,0,1063
PA,81,1,0,0,0,0,1,0,0,39,...,1,0,2,0,0,0,0,1,0,1201
PB,39,0,0,0,0,0,2,0,0,11,...,0,0,2,0,0,0,0,0,0,596
PE,92,1,0,0,0,0,0,0,0,27,...,0,0,6,0,0,0,0,0,0,1148
PI,34,0,0,0,0,0,0,0,0,9,...,2,0,2,0,0,0,0,0,0,405
PR,255,1,0,0,1,11,31,0,0,89,...,1,0,6,0,0,0,0,0,0,3918
RJ,110,0,0,0,0,2,0,0,0,33,...,0,0,3,0,0,0,0,0,0,1442
RN,34,0,0,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,0,0,342
RO,33,0,0,0,0,1,3,0,0,10,...,1,0,0,0,0,0,0,1,0,463
RR,6,0,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,111
RS,230,2,0,0,0,11,16,1,0,84,...,1,0,3,0,0,0,0,0,0,3060
SC,118,3,0,0,0,9,8,0,1,56,...,0,0,2,1,1,0,0,1,0,2195
SE,27,0,0,0,0,0,0,0,0,7,...,0,0,2,0,0,0,0,0,0,323
SP,616,7,0,7,0,20,14,0,1,295,...,6,6,28,0,0,2,0,2,2,11533
TO,28,0,0,0,0,3,4,0,0,12,...,0,0,2,0,0,0,0,0,0,343
All,2754,21,1,7,1,143,118,1,4,1008,...,12,6,95,6,1,2,2,11,2,41447

In [9]:
#Adicionar níveis
pd.crosstab(df.uf_busca, [df.nome,df['turno']], margins=True)

nome         Administração                                       \
turno    Curso a Distância Integral Matutino Noturno Vespertino
uf_busca
AC                       7        0        0       4          1
AL                       7        0        3       9          0
AM                      11        0        4       8          1
AP                       6        0        1       4          1
BA                     117        5       17      53          2
CE                      23        0       18      31          2
DF                      26        0       15      23          0
ES                      36        0        6      27          0
GO                      54        0        9      36          0
MA                      18        0        6      21          4
MG                     140        2       31     121          0
MS                      55        0        4      12          0
MT                      52        0        0      18          0
PA                      57        0        7      14          3
PB                      16        0        8      15          0
PE                      39        0       19      31          3
PI                      13        0        9      10          2
PR                     155        1       21      78          0
RJ                      64        2       10      33          1
RN                      16        0        5      12          1
RO                      19        0        1      13          0
RR                       4        0        0       2          0
RS                     139        3       11      77          0
SC                      85        0        3      30          0
SE                      15        0        2      10          0
SP                     312        1       88     215          0
TO                      18        0        2       8          0
All                   1504       14      300     915         21

nome     Administração Pública                  Administração de Empresas  \
turno        Curso a Distância Matutino Noturno                   Noturno
uf_busca
AC                           0        0       0                         0
AL                           0        0       0                         0
AM                           1        0       0                         0
AP                           0        0       0                         0
BA                           2        1       1                         0
CE                           0        0       0                         0
DF                           0        0       0                         0
ES                           0        0       0                         0
GO                           0        0       0                         0
MA                           1        0       0                         0
MG                           0        0       0                         1
MS                           0        0       0                         0
MT                           0        0       0                         0
PA                           1        0       0                         0
PB                           0        0       0                         0
PE                           0        0       1                         0
PI                           0        0       0                         0
PR                           0        0       1                         0
RJ                           0        0       0                         0
RN                           0        0       0                         0
RO                           0        0       0                         0
RR                           0        0       0                         0
RS                           2        0       0                         0
SC                           3        0       0                         0
SE                           0        0       0                         0
SP                           7        0       0                         0
TO                           0        0       0                         0
All                         17        1       3                         1

nome     Administração de Recursos Humanos  ...  \
turno                             Matutino  ...
uf_busca                                    ...
AC                                       0  ...
AL                                       0  ...
AM                                       0  ...
AP                                       0  ...
BA                                       0  ...
CE                                       0  ...
DF                                       0  ...
ES                                       0  ...
GO                                       0  ...
MA                                       0  ...
MG                                       0  ...
MS                                       0  ...
MT                                       0  ...
PA                                       0  ...
PB                                       0  ...
PE                                       0  ...
PI                                       0  ...
PR                                       0  ...
RJ                                       0  ...
RN                                       0  ...
RO                                       0  ...
RR                                       0  ...
RS                                       0  ...
SC                                       0  ...
SE                                       0  ...
SP                                       4  ...
TO                                       0  ...
All                                      4  ...

nome     Visagismo e Terapias Capilares Viticultura e Enologia          \
turno                           Noturno               Matutino Noturno
uf_busca
AC                                    0                      0       0
AL                                    0                      0       0
AM                                    0                      0       0
AP                                    0                      0       0
BA                                    0                      1       1
CE                                    0                      0       0
DF                                    0                      0       0
ES                                    0                      0       0
GO                                    0                      0       0
MA                                    0                      0       0
MG                                    0                      0       0
MS                                    0                      0       0
MT                                    0                      0       0
PA                                    0                      0       0
PB                                    0                      0       0
PE                                    0                      0       0
PI                                    0                      0       0
PR                                    0                      0       0
RJ                                    0                      0       0
RN                                    0                      0       0
RO                                    0                      0       0
RR                                    0                      0       0
RS                                    0                      0       0
SC                                    0                      0       0
SE                                    0                      0       0
SP                                    1                      0       0
TO                                    0                      0       0
All                                   1                      1       1

nome     Zootecnia                             Óptica e Optometria          \
turno     Integral Matutino Noturno Vespertino            Integral Noturno
uf_busca
AC               0        0       0          0                   0       0
AL               0        0       0          0                   0       0
AM               0        0       0          0                   0       0
AP               0        0       0          0                   0       0
BA               0        0       0          0                   0       0
CE               0        0       0          0                   0       0
DF               0        0       0          0                   0       0
ES               0        0       0          0                   0       0
GO               0        1       0          0                   0       0
MA               0        0       0          1                   0       0
MG               1        0       1          0                   0       0
MS               0        1       0          0                   0       0
MT               0        0       1          0                   0       0
PA               0        0       1          0                   0       0
PB               0        0       0          0                   0       0
PE               0        0       0          0                   0       0
PI               0        0       0          0                   0       0
PR               0        0       0          0                   0       0
RJ               0        0       0          0                   0       0
RN               0        0       0          0                   0       0
RO               0        0       1          0                   0       0
RR               0        0       0          0                   0       0
RS               0        0       0          0                   0       0
SC               0        0       1          0                   0       0
SE               0        0       0          0                   0       0
SP               1        0       1          0                   1       1
TO               0        0       0          0                   0       0
All              2        2       6          1                   1       1

nome        All
turno
uf_busca
AC          203
AL          327
AM          429
AP          219
BA         2505
CE          816
DF         1063
ES          825
GO         1278
MA          679
MG         4175
MS          785
MT         1063
PA         1201
PB          596
PE         1148
PI          405
PR         3918
RJ         1442
RN          342
RO          463
RR          111
RS         3060
SC         2195
SE          323
SP        11533
TO          343
All       41447

[28 rows x 721 columns]

In [10]:
#agrupando por cursos nas linhas e estados nas colunas
pd.crosstab([df.nome,df['turno']], [df.uf_busca] , margins=True)

uf_busca                                AC   AL   AM   AP    BA   CE    DF  \
nome                turno
Administração       Curso a Distância    7    7   11    6   117   23    26
                    Integral             0    0    0    0     5    0     0
                    Matutino             0    3    4    1    17   18    15
                    Noturno              4    9    8    4    53   31    23
                    Vespertino           1    0    1    1     2    2     0
...                                    ...  ...  ...  ...   ...  ...   ...
Zootecnia           Noturno              0    0    0    0     0    0     0
                    Vespertino           0    0    0    0     0    0     0
Óptica e Optometria Integral             0    0    0    0     0    0     0
                    Noturno              0    0    0    0     0    0     0
All                                    203  327  429  219  2505  816  1063

uf_busca                                ES    GO   MA  ...    RJ   RN   RO  \
nome                turno                              ...
Administração       Curso a Distância   36    54   18  ...    64   16   19
                    Integral             0     0    0  ...     2    0    0
                    Matutino             6     9    6  ...    10    5    1
                    Noturno             27    36   21  ...    33   12   13
                    Vespertino           0     0    4  ...     1    1    0
...                                    ...   ...  ...  ...   ...  ...  ...
Zootecnia           Noturno              0     0    0  ...     0    0    1
                    Vespertino           0     0    1  ...     0    0    0
Óptica e Optometria Integral             0     0    0  ...     0    0    0
                    Noturno              0     0    0  ...     0    0    0
All                                    825  1278  679  ...  1442  342  463

uf_busca                                RR    RS    SC   SE     SP   TO    All
nome                turno
Administração       Curso a Distância    4   139    85   15    312   18   1504
                    Integral             0     3     0    0      1    0     14
                    Matutino             0    11     3    2     88    2    300
                    Noturno              2    77    30   10    215    8    915
                    Vespertino           0     0     0    0      0    0     21
...                                    ...   ...   ...  ...    ...  ...    ...
Zootecnia           Noturno              0     0     1    0      1    0      6
                    Vespertino           0     0     0    0      0    0      1
Óptica e Optometria Integral             0     0     0    0      1    0      1
                    Noturno              0     0     0    0      1    0      1
All                                    111  3060  2195  323  11533  343  41447

[721 rows x 28 columns]

In [12]:
#Quantidade de bolsa integral ampla por cursos
#usar o parametro values
pd.crosstab([df.nome], [df.uf_busca] , values=df.bolsa_integral_ampla, aggfunc= np.sum, margins=True)

<ipython-input-12-10546089960e>:3: FutureWarning: The provided callable <function sum at 0x7f54e2f35a80> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.crosstab([df.nome], [df.uf_busca] , values=df.bolsa_integral_ampla, aggfunc= np.sum, margins=True)
<ipython-input-12-10546089960e>:3: FutureWarning: The provided callable <function sum at 0x7f54e2f35a80> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.crosstab([df.nome], [df.uf_busca] , values=df.bolsa_integral_ampla, aggfunc= np.sum, margins=True)
<ipython-input-12-10546089960e>:3: FutureWarning: The provided callable <function sum at 0x7f54e2f35a80> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.crosstab([df.nome], [df.uf_busca] , values=df.bolsa_integral_ampla, aggfunc= np.sum, margins=True)

uf_busca,AC,AL,AM,AP,BA,CE,DF,ES,GO,MA,...,RJ,RN,RO,RR,RS,SC,SE,SP,TO,All
nome,,,,,,,,,,,,,,,,,,,,,
Administração,6.0,28.0,22.0,11.0,140.0,72.0,58.0,69.0,121.0,39.0,...,192.0,33.0,45.0,6.0,860.0,296.0,25.0,1795.0,33.0,5175.0
Administração Pública,NaN,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,11.0,17.0,NaN,21.0,NaN,61.0
Administração de Empresas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
Administração de Recursos Humanos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,NaN,33.0
Agroindústria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Visagismo e Terapias Capilares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,9.0
Viticultura e Enologia,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zootecnia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,...,NaN,NaN,4.0,NaN,NaN,2.0,NaN,11.0,NaN,23.0
Óptica e Optometria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,5.0
All,68.0,327.0,416.0,169.0,1507.0,695.0,989.0,770.0,1348.0,442.0,...,1677.0,459.0,635.0,52.0,8208.0,4641.0,343.0,24504.0,327.0,63854.0

#Vendas
#usar o parametro values
pd.crosstab([df2.produto], [df2.pais] , values=df2.valortotal, aggfunc= np.sum, margins=True)

#% sobre o total com a função normalize:
pd.crosstab(df.pais, df.produto, normalize='index')

#% sobre o total com a função normalize ajustando o percentual:
pd.crosstab(df.pais, df.produto, normalize='index').round(4)*100

"""# Group by

"""

In [14]:
#agrupar por produto
df_tipo_curso = df.groupby('nome')
df_tipo_curso

In [15]:
#quantidade de grupos
df_tipo_curso.ngroups

27

In [16]:
df.groupby('uf_busca').ngroups

27

In [17]:
#atributo groups para mostrar os grupos (monta uma lista de registros por grupo)
df.groupby('uf_busca').groups

{'AC': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3050, 3051, 3052, 3053, 3054, 3055, 3056, 4059, 4060, 4061, 4062, 4599, 5144, 5228, 5229, 5230, 5836, 6041, 6042, 6453, 6454, 6455, 6456, 6457, 6458, 6459, 6460, 6461, 6462, 6463, 9300, 9896, 9897, 10035, 10036, 10037, 10038, 10039, 11156, 11157, 11158, 12800, 12801, 12802, 12803, 13765, 13991, 13992, 13993, 13994, 14941, 16192, 16193, 17375, 17696, 17697, 18152, 18153, 18668, 18669, 19272, 19634, 19635, 19636, 19637, 19638, 19639, 20191, 20192, 20193, 20194, 20195, 20836, 20837, 20838, 20839, 20840, 22148, 22159, 22160, 22161, 22666, 22724, 22725, 22726, 22727, 22728, 22729, ...], 'AL': [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 2784, 3057, 3058, 3059, 3060, 3061, 3062, 3063, 3064, 3065, 4063, 4064, 4065, 4600, 4601, 4602, 4603, 5195, 5231, 5232, 5233, 5619, 5620, 5621, 5837, 5838, 6043, 6044, 6464, 6465, 6466, 6467, 6468, 6469, 6470, 6471, 6472, 6473, 6474, 6475, 6476, 6477, 8799, 9168, 9186, 9301, 9302, 9303, 9645, 9646, 9927, 9928, 10040, 10041, 10042, 10043, 10044, 10045, 10046, 10047, 11159, 11160, 11161, 11162, 11163, 11164, 11165, 11166, 11167, 11168, 11169, 11170, 11171, 11172, 11173, 11174, 11175, 11176, 11177, 11178, 11179, ...], 'AM': [31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 2762, 2785, 3066, 3067, 3068, 3069, 3070, 3071, 3072, 3073, 3074, 3075, 4066, 4067, 4068, 4069, 4604, 5057, 5058, 5196, 5234, 5235, 5236, 5237, 5238, 5239, 5240, 5241, 5622, 5623, 5624, 5625, 5839, 6024, 6045, 6478, 6479, 6480, 6481, 6482, 6483, 6484, 6485, 6486, 6487, 6488, 6489, 6490, 6491, 6492, 6493, 6494, 6495, 6496, 6497, 6498, 6499, 8518, 8519, 8800, 8801, 8802, 9187, 9304, 9305, 9929, 9930, 10048, 10049, 10050, 10051, 10052, 10053, 11182, 11183, 11184, ...], 'AP': [55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 2786, 3076, 3077, 3078, 3079, 3080, 3081, 4070, 4071, 4072, 4073, 4605, 4606, 5242, 5243, 5626, 5627, 5628, 5840, 6500, 6501, 6502, 6503, 6504, 6505, 6506, 6507, 6508, 6509, 6510, 8803, 8804, 8805, 9188, 9556, 9557, 10054, 10055, 10056, 10057, 10058, 11197, 11198, 11199, 11200, 11201, 11202, 11203, 12832, 12833, 12834, 12835, 12836, 14013, 14014, 14015, 14016, 14017, 14018, 14943, 14944, 15309, 15310, 16204, 16205, 16206, 16807, 16808, 16827, 16828, 17705, 17706, 18158, 18159, 18160, 18689, 18690, 18691, 18692, 18693, 19651, 19652, 19653, 19654, 20208, 20209, 20210, 20211, ...], 'BA': [67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, ...], 'CE': [261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 3129, 3130, 3131, 3132, 3133, 3134, 3135, 3136, 3137, 3138, 3139, 3140, 3141, 3142, 3143, 3144, 3145, 3146, 3147, 3148, 3149, 4101, 4102, 4103, 4104, 4105, ...], 'DF': [335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 2929, 2930, 2931, 3150, 3151, 3152, 3153, 3154, 3155, 3156, 3157, 3158, 3159, 3160, 3161, 3162, 3163, 3164, 3165, 3166, 3167, 3168, 3169, 3170, 3171, 3172, 3173, 3174, 3175, 3176, 3177, 3178, 3179, 3180, 3181, 3182, ...], 'ES': [399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 2794, 2795, 2796, 2797, 2798, 3188, 3189, 3190, 3191, 3192, 3193, 3194, 3195, 3196, 3197, 3198, 3199, 3200, 3201, 4132, 4133, 4134, 4135, 4136, 4137, 4138, 4139, 4140, 4141, 4142, 4143, ...], 'GO': [468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 2799, ...], 'MA': [567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 2767, 2809, 2810, 3233, 3234, 3235, 3236, 3237, 3238, 3239, 3240, 3241, 3242, 3243, 3244, 3245, 3246, 3247, 3248, 4153, 4154, 4155, 4156, 4157, 4158, 4159, 4160, 4161, 4162, 4163, 4164, 4165, 4166, 4167, 4168, 4169, 4170, 4646, 4647, 4648, 4649, 5087, 5323, 5324, 5325, 5326, 5327, 5328, 5329, 5860, 5861, ...], 'MG': [616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, ...], 'MS': [910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 2832, 2833, 2834, 2835, 2836, 2837, 2838, 2839, 2840, 2841, 2842, 2843, 2844, 2845, 2846, 2847, 2848, 2849, 2850, 2851, 2852, 2954, 2955, 2956, 2957, 2958, 3327, 3328, 3329, ...], 'MT': [981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 2853, 2854, 2855, 2856, 2857, 2858, 2859, 2860, 2861, 2862, 2863, 2864, 2865, 2866, 2867, 2868, 2869, 2959, 2960, 2961, 2962, 2963, 2964, 2965, 3342, 3343, 3344, 3345, 3346, 3347, ...], 'PA': [1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 2768, 2966, 3377, 3378, 3379, 3380, 3381, 3382, 3383, 3384, 3385, 3386, 3387, 3388, 3389, 3390, 3391, 3392, 3393, ...], 'PB': [1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 2967, 2968, 3416, 3417, 3418, 3419, 3420, 3421, 3422, 3423, 3424, 3425, 3426, 4260, 4261, 4262, 4263, 4264, 4265, 4266, 4267, 4268, 4269, 4270, 4271, 4272, 4273, 4274, 4712, 4713, 4714, 4715, 4716, 4717, 5093, 5385, 5386, 5387, 5388, 5389, 5390, 5391, 5392, 5393, 5394, 5672, 5673, 5674, 5891, 5892, 6026, 6166, 6167, 6168, 7335, 7336, 7337, 7338, 7339, 7340, 7341, ...], 'PE': [1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 2769, 3427, 3428, 3429, 3430, 3431, 3432, 3433, ...], 'PI': [1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 3454, 3455, 3456, 3457, 3458, 3459, 3460, 3461, 3462, 4297, 4298, 4299, 4300, 4301, 4302, 5411, 5412, 5413, 5414, 5687, 5688, 5689, 5690, 5691, 5692, 5898, 7429, 7430, 7431, 7432, 7433, 7434, 7435, 7436, 7437, 7438, 7439, 7440, 7441, 7442, 7443, 7444, 7445, 7446, 7447, 7448, 7449, 7450, 7451, 7452, 7453, 8879, 9140, 9157, 9164, 9372, 9373, 9374, 9375, 9575, 9712, 9713, 9714, 9840, 9841, 9960, ...], 'PR': [1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, ...], 'RJ': [1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, ...], 'RN': [1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695, 3585, 3586, 3587, 3588, 3589, 4362, 4363, 4364, 4365, 4366, 4367, 4368, 4369, 4370, 4820, 5210, 5452, 5931, 6223, 6224, 7713, 7714, 7715, 7716, 7717, 7718, 7719, 7720, 7721, 7722, 7723, 7724, 7725, 7726, 7727, 7728, 7729, 7730, 7731, 7732, 8917, 9403, 9404, 9405, 9546, 9547, 9736, 9855, 9856, 9970, 10682, 10683, 10684, 10685, 10686, 10687, 10688, 10689, 10690, 10691, 10692, 10693, 10694, 10695, 10696, 10697, ...], 'RO': [1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 2883, 3000, 3001, 3002, 3590, 3591, 3592, 3593, 3594, 3595, 3596, 3597, 3598, 3599, 4371, 4372, 4373, 4374, 4375, 4376, 4377, 4378, 4379, 4380, 4381, 4382, 4821, 5164, 5165, 5211, 5212, 5453, 5454, 5455, 5456, 5457, 5458, 5459, 5460, 5932, 6225, 6226, 6227, 6228, 6229, 6230, 6231, 7733, 7734, 7735, 7736, 7737, 7738, 7739, 7740, 7741, 7742, 7743, 7744, 7745, 7746, 7747, 7748, 7749, 7750, 7751, 7752, ...], 'RR': [1729, 1730, 1731, 1732, 1733, 1734, 3600, 3601, 3602, 3603, 4822, 4823, 5166, 5213, 5461, 7768, 7769, 7770, 8603, 8921, 8922, 9971, 10707, 10708, 10709, 12083, 12084, 12085, 12086, 12772, 13416, 13417, 13418, 13419, 14578, 14579, 16169, 16533, 16534, 17618, 17985, 18381, 19059, 19515, 19988, 19989, 20593, 20594, 20595, 21318, 22405, 22406, 23673, 23674, 24528, 24803, 25278, 25279, 25280, 25281, 25875, 26555, 26556, 26557, 27437, 27438, 27439, 27440, 28328, 28400, 28705, 28873, 29070, 29754, 29755, 30634, 30635, 31563, 31564, 31565, 31566, 32304, 32414, 32781, 32782, 32783, 33143, 34799, 34800, 34801, 34802, 34803, 34804, 34805, 36326, 36327, 36328, 37379, 38261, 38536, ...], 'RS': [1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, ...], 'SC': [1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, ...], 'SE': [2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 3744, 3745, 3746, 3747, 3748, 3749, 3750, 4450, 4451, 4452, 4453, 4454, 4904, 4905, 5217, 5494, 5495, 5496, 5497, 5498, 5970, 6279, 6280, 6281, 6282, 6283, 8032, 8033, 8034, 8035, 8036, 8037, 8038, 8039, 8040, 8041, 8042, 8043, 8044, 8045, 8046, 8047, 8048, 8049, 8980, 8981, 9216, 9217, 9279, 9425, 9757, 9758, 9759, 9760, 9867, 9868, 9984, 9985, 10854, 10855, 10856, 10857, 10858, 10859, 10860, 10861, 10862, 10863, 10864, 10865, 10866, 12289, 12290, ...], 'SP': [2110, 2111, 2112, 2113, 2114, 2115, 2116, 2117, 2118, 2119, 2120, 2121, 2122, 2123, 2124, 2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2139, 2140, 2141, 2142, 2143, 2144, 2145, 2146, 2147, 2148, 2149, 2150, 2151, 2152, 2153, 2154, 2155, 2156, 2157, 2158, 2159, 2160, 2161, 2162, 2163, 2164, 2165, 2166, 2167, 2168, 2169, 2170, 2171, 2172, 2173, 2174, 2175, 2176, 2177, 2178, 2179, 2180, 2181, 2182, 2183, 2184, 2185, 2186, 2187, 2188, 2189, 2190, 2191, 2192, 2193, 2194, 2195, 2196, 2197, 2198, 2199, 2200, 2201, 2202, 2203, 2204, 2205, 2206, 2207, 2208, 2209, ...], 'TO': [2726, 2727, 2728, 2729, 2730, 2731, 2732, 2733, 2734, 2735, 2736, 2737, 2738, 2739, 2740, 2741, 2742, 2743, 2744, 2745, 2746, 2747, 2748, 2749, 2750, 2751, 2752, 2753, 2924, 2925, 2926, 3041, 3042, 3043, 3044, 4046, 4047, 4048, 4049, 4050, 4051, 4052, 4053, 4054, 4055, 4056, 4057, 4592, 4593, 4594, 4595, 5054, 5192, 5227, 5614, 5615, 5824, 5825, 5826, 6450, 6451, 8482, 8483, 8484, 8485, 8486, 8487, 8488, 8489, 8490, 8491, 8492, 8493, 8494, 8495, 8496, 8497, 8498, 8499, 8500, 8501, 8502, 8503, 8504, 8505, 8506, 8507, 8508, 8727, 9132, 9133, 9134, 9180, 9230, 9803, 9893, 11115, 11116, 11117, 11118, ...]}

In [18]:
#atributo size para mostrar o tamanho do grupos
df.groupby('uf_busca').size()

uf_busca
AC      203
AL      327
AM      429
AP      219
BA     2505
CE      816
DF     1063
ES      825
GO     1278
MA      679
MG     4175
MS      785
MT     1063
PA     1201
PB      596
PE     1148
PI      405
PR     3918
RJ     1442
RN      342
RO      463
RR      111
RS     3060
SC     2195
SE      323
SP    11533
TO      343
dtype: int64

In [19]:
#atributo get_group para filtrar um grupo especifico o tamanho do grupos
df.groupby('uf_busca').get_group('RS')

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
1735,RS,Alegrete,Universidade da Região da Campanha - URCAMP,CAMPUS UNIVERSITÁRIO DE ALEGRETE - CENTRO,Administração,Bacharelado,Noturno,1205.85,0.0,1.0,NaN,NaN,623.94,NaN,NaN,NaN
1736,RS,Alvorada,Universidade Paulista - UNIP,ALVORADA - Centro,Administração,Bacharelado,Curso a Distância,299.00,0.0,1.0,NaN,NaN,596.64,NaN,NaN,NaN
1737,RS,Arroio dos Ratos,Centro Universitário Cenecista de Osório - Uni...,POLO - ARROIO DOS RATOS - Centro,Administração,Bacharelado,Curso a Distância,333.00,0.0,1.0,NaN,NaN,549.60,NaN,NaN,NaN
1738,RS,Arroio do Tigre,Centro Universitário Internacional - Uninter -...,PAP ARROIO DO TIGRE - Centro,Administração,Bacharelado,Curso a Distância,298.00,NaN,NaN,NaN,1.0,NaN,NaN,587.02,NaN
1739,RS,Arroio Grande,Centro Universitário da Grande Dourados - Unig...,ARROIO GRANDE - centro,Administração,Bacharelado,Curso a Distância,250.00,1.0,3.0,1.0,5.0,492.44,450.00,450.00,450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41135,RS,Viamao,Centro Universitário Internacional - Uninter -...,PAP VIAMÃO - Centro,Teologia,Bacharelado,Curso a Distância,189.00,NaN,NaN,NaN,1.0,NaN,NaN,465.72,NaN
41317,RS,Santa Maria,Centro Universitário Franciscano - Unifra - UN...,CONJUNTO III - Nossa Senhora do Rosário,Terapia Ocupacional,Bacharelado,Noturno,1325.08,0.0,4.0,NaN,NaN,608.48,NaN,NaN,NaN
41388,RS,Caxias do Sul,Universidade de Caxias do Sul - UCS,CAMPUS SEDE - Petrópolis,Turismo,Bacharelado,Noturno,1123.60,0.0,2.0,NaN,NaN,587.12,NaN,NaN,NaN
41389,RS,Novo Hamburgo,Universidade Feevale - FEEVALE,SEDE - VILA NOVA,Turismo,Bacharelado,Noturno,821.45,1.0,3.0,NaN,NaN,601.72,588.56,NaN,NaN
41390,RS,Porto Alegre,Universidade do Sul de Santa Catarina - UNISUL,POLO DE PORTO ALEGRE - RS - Sarandi,Turismo,Bacharelado,Curso a Distância,554.37,0.0,1.0,NaN,NaN,614.54,NaN,NaN,NaN

In [22]:
#média
df.groupby('uf_busca').mean(numeric_only=True)

,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
uf_busca,,,,,,,,,
AC,570.743645,1.528662,1.236364,2.338583,1.588235,592.320255,597.901887,567.295556,560.335584
AL,534.481284,2.547445,1.777174,1.791209,2.619048,598.094599,587.339457,559.630435,545.240000
AM,576.651958,3.400576,2.000000,2.037736,21.763158,580.413199,568.020102,526.945128,537.891667
AP,578.471918,3.114943,1.625000,1.643836,1.625000,583.807126,571.523469,527.139744,528.025455
BA,639.848802,2.348121,1.902778,2.701396,13.628289,588.942140,580.011162,524.612396,506.756225
CE,801.654853,2.251656,1.699267,2.765000,19.107256,630.480894,624.944343,549.716277,575.650355
DF,666.951063,1.795154,2.095339,2.036145,23.697885,586.136432,579.535527,534.981733,525.656864
ES,621.275855,1.775112,1.920200,2.339869,8.146341,605.744498,594.546190,548.253710,544.117333
GO,557.586455,1.989076,2.265546,1.840506,19.900990,573.088620,563.045368,514.166066,510.962762
MA,728.632607,3.081594,1.789474,2.240157,26.116935,608.524744,591.915285,531.402377,528.909391
MG,668.955401,1.895296,2.457968,1.508427,11.184584,592.559059,589.493846,552.827713,536.519480
MS,461.716115,1.977966,2.069892,1.614650,3.664122,554.571593,527.096550,518.174215,507.816167
MT,491.546548,1.996264,2.487179,1.543814,2.569620,540.597958,534.894499,513.248972,502.206667
PA,518.926445,3.476526,1.914729,1.869369,19.092857,588.270892,580.705974,540.352407,537.277808
PB,696.574027,2.196117,2.480114,1.846154,21.657658,604.280388,593.911510,544.192457,571.856226
PE,635.090427,3.033769,2.612903,1.737805,30.196296,598.066841,586.706211,525.512262,534.947463
PI,629.500938,2.795977,1.537190,2.703125,13.446429,605.636839,599.166949,556.700813,554.270566
PR,602.332657,0.634013,2.215586,1.389016,5.239038,562.998106,541.041013,516.892240,487.882586
RJ,745.488377,1.826372,2.529412,1.531148,4.882051,605.651400,602.252632,569.691244,553.461228
RN,679.597690,2.055921,2.272277,2.190000,3.304878,607.561447,598.198317,575.831852,549.630541
RO,661.994514,2.345455,2.560484,3.579208,4.744565,577.266182,562.602096,546.539170,522.614897
RR,428.599910,2.210526,1.444444,1.777778,1.166667,558.540842,573.194118,547.274074,569.626667
RS,743.003467,0.290441,3.352941,1.319149,4.061265,567.415515,547.656824,534.399328,478.066170
SC,560.686606,0.238750,2.900625,1.225000,3.390553,542.574038,514.046012,508.964977,476.552500
SE,642.081424,2.733108,1.478448,2.910256,5.842857,600.468716,593.291034,562.058313,544.677846
SP,591.408001,1.064348,2.654534,1.570099,6.180079,562.488484,544.711967,512.871122,495.712880
TO,588.325948,2.291096,1.651515,1.470588,3.694444,579.278425,562.580800,538.567470,545.071429

In [23]:
# agrupar por mais de um campo e somando
df.groupby(['uf_busca', 'nome', ])['bolsa_integral_ampla'].sum()

uf_busca  nome
AC        Administração                             6.0
          Análise e Desenvolvimento de Sistemas     1.0
          Arquitetura e Urbanismo                   0.0
          Artes VIsuais                             0.0
          Biblioteconomia                           0.0
                                                   ...
TO        Sistema de Informação                     1.0
          Sistemas de Informação                   12.0
          Sociologia                                0.0
          Teologia                                  0.0
          Turismo                                   2.0
Name: bolsa_integral_ampla, Length: 2715, dtype: float64